@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
/*@import "~@flaticon/flaticon-uicons/css/all/all";*/
*{
font-family: 'Roboto', Arial, sans-serif;
}
.educationhomeheader{
box-sizing: border-box;
padding:2% 5% 0% 5%;
display: grid;
grid-template-columns: 5fr 5fr;
grid-gap: 6%;
background: rgb(51, 53, 69);
place-items: center;
}
.not-active{display: none; height:0}
.profilemenucontainer{
  position: relative;
}
.profilemenu{
  position:absolute;
  z-index:11;
  right: 0;
  width: 400px;
  max-width: 49vw;
}
.profilevipicon{
  width: 10vw;
}
@media screen and (max-width: 700px){
  /*
    .elogo{
    height:6vw;
    width:15vw;
    position: relative;
    overflow: hidden;
    }
  }
  .elogo{
  grid-column: 1/1;
  width:100%;
  max-width: 18vw;
  }
  */
  .educationhomeheader{
    padding:2% 2% 0% 2%;
    grid-template-columns: 1fr 1fr;
  }
  .wrapper{
  grid-column: 1/2;
  width: 100%;
  max-width: 50vw;
  }
  .profilecontainer{
    grid-column: 2/3;
    width:100%;
  }
  .profilegrid{
    display: grid;
    grid-gap: 10%;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  .vip{
    grid-column: 1/1;
  }
  .shoppingcart{
    grid-column: 2/2;
  }
  .profile{
    grid-column: 3/3;
  }
  .vip img{
    max-width: 100%;
  }
  .profile img{
    max-width: 100%;
  }
    /* ------animation styles fadein LOGO image---- */
  @keyframes fadeIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 1; }
  }

  .fadeInClass {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  /* ------End of animation styles fadein LOGO image---- */
  .carticon{
    color:rgba(255, 255, 255, 0.6);
    font-size:300%;
    font-family: "Flaticon";
  }
  .profilepic{
    max-width: 15vw;
  } 
}
@media screen and (min-width: 700px){
  .wrapper{
    grid-column: 1/2;
    width: 100%;
    max-width: 50vw;
  }
  .profilecontainer{
    grid-column: 2/3;
    width:100%;
  }
  .profilegrid{
    display: grid;
    grid-gap: 10%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .fadeInClass{
    display: none;
  }
  .vip{
    max-width: 4vw;
  }
  .carticon{
    color:rgba(255, 255, 255, 0.6);
    font-size:500%;
    font-family: "Flaticon";
  }
  #carticonactive{
    text-shadow:5px 5px 50px white;
    color:rgba(255, 255, 255, 1);
  }
}
.profilepic{
  grid-column: 2/2;
  border-radius: 50%;
}
.searchicon{
  width:24px;
  height:24px
} 
.label{
font-size: .625rem;
font-weight: 400;
text-transform: uppercase;
letter-spacing: +1.3px;
margin-bottom: 1rem;
}
  
.searchBar {
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
}
  
#searchQueryInput {
width: 100%;
height: 2.8rem;
background: #f5f5f5;
outline: none;
border: none;
border-radius: 0.625rem;
padding: 0 3.5rem 0 1.5rem;
font-size: 1rem;
}
  
#searchQuerySubmit {
width: 3.5rem;
height: 2.8rem;
margin-left: -3.5rem;
background: none;
border: none;
outline: none;
}
#searchQuerySubmit:hover {
cursor: pointer;
}
/*Beginning of pulse animation*/
.pulse-button {
  color: white;
  border: none;
  border-radius: 50%;
  background: #080808;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(23, 24, 24, 0.5);
  -webkit-animation: pulse 1.5s infinite; /* Safari & Chrome */
-moz-animation: pulse 1.5s infinite; /* Firefox */
-ms-animation: pulse 1.5s infinite; /* Internet Explorer */
-o-animation: pulse 1.5s infinite; /* Opera */
animation: pulse 1.5s infinite; /* W3C */
}
.pulse-button:hover {
  -webkit-animation: none;
  -moz-animation: none; /* Firefox */
-ms-animation: none; /* Internet Explorer */
-o-animation:  none; /* Opera */
animation: none; /* W3C */
}
@keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

/*Ending of pulse animation*/
.educationsubheader{
box-sizing: border-box;
width: 100%;
height: 60px;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: start;
background: /*rgb(123, 132, 192)*/ rgb(34, 37, 57);
}

/*Beginning of Shop Button animations*/
.shoptext{
  position: relative;
  height:100%;
  overflow: hidden;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.pointer {cursor: pointer;}
.blobtext{
  position: absolute;
  left:50%;
  transform: translate(-50%, 0%);
  font-family: Roboto;
  z-index: 2;
  line-height: 60px;
  font-size: 300%;
  color:white;
  text-align: center;
  font-weight: 700;
  text-shadow: 10px 10px 20px rgb(29 40 114);
}

.waviy span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size:1em;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.svgblob{
  position:absolute;
  width:30vw;
  z-index: 1;
  top: -51px;
  left:30vw;
}


/*END of Shop Button animations*/


/*Beginning of Education Caraousel */
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
@media screen and (max-width: 700px){
  .educationcarousel {
    width:100vw;
    height:40vw;
    overflow: hidden;
  }
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
  }
  .caraouselimage{
    width:100vw;
  }
}
@media screen and (min-width: 700px){
  .educationcarousel {
    width:93vw;
    height:20vw;
    overflow: hidden;
  }
  .carousel__slide {
    position: relative;
    flex: 0 0 50%;
    width: 100%;
    counter-increment: item;
  }
  .caraouselimage{
    width:50vw;
  }
}
  
  .carousel * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  .carousel *::-webkit-scrollbar {
    width: 0;
  }
  
  .carousel *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .carousel *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  .carousel * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
 .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  } 


  /*---------- Profile Menu ------*/
  .profile-menu{
    background-color: white;

    border: 1px solid rgba(0, 0, 0, 0.1);
}
.profile-menu-items{
    padding: 1vh 5vh;
    width:100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.profile-menu-items:last-child {
    border-bottom: none;
    padding: 1vh 5vh 0 5vh;
  }
.profile-menu-items a{
    text-decoration: none;
}
.nav-text{
    color:black;
    font-size: 20px;
    align-items: center;
    transform: translate(0%, 17%);
}
  /*------------------------------------------ upgrade VIP css --------------------------------------*/
  .completebackground{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180vh;
    position: absolute;
    top:0;
    z-index:5;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: 3% 97%;
  }
  @media screen and (min-width: 700px){
    .completebackground{
      width:93%;
    }
  }
  @media screen and (min-width: 700px){

  }
  .backgroundVIP{
    background-image: url("../272533702.jpg");
    
  }
  .upgradeVIPheading{
    text-align: center;
    font-size:3em;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 
    0.1em 0.1em #ff1f8f, 0.15em 0.15em #000000
  }
  .pricingcontainer{
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .pricingcontainer .segment{
    background: hsl(204 100% 5%);
    color: white;
  }
  .pricingcontainer .segmenttextcontent *{
    padding:5%;
    color:white;
    text-transform: none;
    text-align: center;

  }
  .pricingcontainer .segmenttextcontent .textcenter{
    text-align: center;
    font-size: 140%;
  }
  /*-------------------------------- End of upgrade VIP css ----------------------------------------*/

  /*-------------------Modal EducationShop --------------------*/

  .educationmodalcontainer{
    position:absolute;
    z-index:5;
    margin-top: 22vh;
    border-radius: 8vw 8vw 0 0;
    border: solid 13px white;
    width: 85%;
    margin-left:5%; margin-right: 5%;
    display: grid;
    grid-template-rows: 3% 97%;
    background-color: #FF5BFA;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(329,960,468)'%3E%3Cstop offset='0' stop-color='%23FF5BFA'/%3E%3Cstop offset='1' stop-color='%231F095D'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='622' height='518.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.12'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  .educationshopfront{
    position:absolute;
    top:0;
    width:82.97vw;
    z-index:1;
  }
  @media screen and (max-width: 700px){
    .educationmodalcontainer{
      width: calc(100% + 26px);
      margin-left:-13px; margin-right: -13px;
      border-radius: 16vw 16vw 0 0;
    }
    .educationshopfront{
      width:92vw;
    }
  }
  .megasale{
    position: absolute;
    top:0;
    width:22vw;
    z-index:2;
  }
  .educationmodalhead{
    grid-row: 1/2;
    position: relative;
  }
  .educationmodalcontent{
    margin:2%;
    grid-row: 2/2;
  }
  .educationmodalheadcontainer{
    display: grid;
    grid-template-columns: 9fr 1fr;
  }
  .educationmodalheadtext{
    grid-column: 1/2;

  }
  .educationmodalclosebutton{
    grid-column: 2/3;
    margin-left: auto;
    margin-right: 0;
    z-index:5
  }
  .educationalItems{
    margin-top:30vh;
  }
  .educationalItemsbanner{
    margin: 0 auto;
    position: relative;
    width: 31vw;
    height: 9.35vw;
    color:white;
  }
  .educationalItemsbannertext{
    line-height: 9.35vw;
    color:white;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    font-weight: 600;
    font-size: xx-large;
    font-family: 'Vollkorn';
  }
  @media screen and (max-width: 700px){
    .educationalItems{
      margin-top:6vh;
    }
    .educationalItemsbanner{
      width: 61vw;
      height: 19vw;
    }
    .educationalItemsbanner img{
      width: 61vw;
      height: 19vw;
    }
    .educationalItemsbannertext{
      width:61vw;
      line-height: 19vw;
      text-align: center;
      font-size:large;
    }
  }
.educationPara{
  margin: 6%;
  background: rgba(0, 0, 0, 0.3);
  border-color: #9b997f;
  border-style: ridge;
  border-width: 1.5vh;
}
.educationShopBanner{
  position: relative;
  margin: 0 auto;
  margin-top:5vw;
  width:100%; height:8vh;
  background: url("./education/ribbonRed.png") no-repeat center;
  background-size: contain;
}
.educationShopBannertext{
  position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    font-size: 1.6vw;
    letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 
  0.1em 0.1em #ff1f8f, 0.15em 0.15em #000000

}
@media screen and (max-width: 700px){
  .educationPara{
    margin: 6% 0;
    border:none;
  }
  .educationShopBannertext{
    font-size: 3vw;
  }
}
.educationalItemsgrid{
  margin:2vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:5vw;
}
.winnerMindsetgrid, .examPrepgrid{
  width: 30vw;
  height: 15vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.winnerMindset{
  width: 30vw;
  height: 15vw;
  grid-column: 1/2;
  background: url(./education/winner_mindset.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1vw;
}
.examPrep{
  width: 30vw;
  height: 15vw;
  grid-column: 2/3;
  background: url(./education/exam_mania.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 1vw;
}
@media screen and (max-width: 700px){
  .winnerMindset, .examPrep{
    width: 43vw;
    height: 22vw;
  }
  .winnerMindsetgrid, .examPrepgrid{
    width: 43vw;
    height: 22vw;
  }
}
.decor{
  grid-column: 1/5;
  grid-row: 1/4;
  max-height: 15vw;
  max-width: 27vw;
}
.buyButton{
  width:12vw;
  grid-column: 5/9;
  grid-row: 4/5;
}
@media screen and (max-width: 700px){
  .decor{
    max-height: 27vw;
    max-width: 37vw;
  }
  .buyButton{
    width:20vw;
  }
}
.educationalItemsgrid1{
  margin:2vw;
  margin-top:5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:5vw;
}
.audioBook1, .audioBook2, .audioBook3{
  display: grid;
  grid-template-rows: 4fr 3fr;
  grid-gap:2vh;
  place-items: center;
  background: rgb(245,232,39);
  background: linear-gradient(45deg, rgba(245,232,39,0.6558998599439776) 0%, rgba(228,228,236,0.6026785714285714) 100%);
}
.audioBook1{
  grid-column: 1/2;
}
.audioBook2{
  grid-column: 2/3;
}
.audioBook3{
  grid-column: 3/4;
}
.audioBookimg{
  width:9vw;
}
@media screen and (max-width: 700px){
  .audioBookimg{
    width:17vw;
  }
}
.bookName{
  padding:0.5vw 1vw;
  color:#000;
  background: white;
}
.buyButtonsecondcontainer{
  position: relative;
}
.buyButtonsecond{
  width:4vw;
  height:2.3vw;
}
@media screen and (max-width: 700px){
  .buyButtonsecondcontainer{
    margin: 0 auto;
    width: 20vw;
    height: 12.3vw;
  }
  .buyButtonsecond{
    width: 20vw;
    height: 12.3vw;
  }
}
.buttonprice{
  position: absolute;
  left:50%; top:50%;
  transform: translate(-50%, -50%);
  color:white;
}
.forces, .heat, .forces img, .heat img{
  width: 25vw;
  height: 36.8vw;
}
.algebra, .fractional, .bundle, .algebra img, .fractional img, .bundle img{
  width: 18vw;
  height: 26.5vw;
}
@media screen and (max-width: 700px){
  .forces, .heat, .forces img, .heat img{
    width: 38vw;
    height: 55.94vw;
  }
  .algebra, .fractional, .bundle, .algebra img, .fractional img, .bundle img{
    width: 27vw;
    height: 39.75vw;
  }
}
  /*-------------------Modal Flower menu items --------------------*/
  .flowermodaloverlay{
    position: fixed;
    inset: 0px;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 10;
  }
  .flowermodal{
    position: absolute;
    inset: 10vh 23vw;
    border: none;
    background: none;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 0px;
  }
  @media screen and (max-width: 700px){
    .flowermodal{
      position: absolute;
      inset: 14vh 0;
      border: none;
      background: none;
      border-radius: 4px;
      outline: none;
      padding: 0px;
      border-bottom: 5px solid #585858;
    }
    #flowermodal{
      inset: 20vh 6vw;
    }
    .flowermenu{
      width:100%; height:100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    .flowermenu_achievement, .flowermenu_leaderboard, .flowermenu_creategroup, .flowermenu_friends, .flowermenu_mygroups, .flowermenu_alerts,
    .flowermenu_mail, .flowermenu_giftbox{
      width:7vh;height:8vh;
      margin:auto;
      filter: drop-shadow(0.35rem 1rem 0.4rem rgba(0, 0, 0, 0.5));
    }
    .flowermenu_achievement{
      background: url('./icons/001-medal.png');
      background-repeat: no-repeat;background-size: contain;
    }
    .flowermenu_leaderboard{
      background: url('./icons/001-podium.png');
      background-repeat: no-repeat;background-size: contain;
    }
    .flowermenu_creategroup{
      background: url('./icons/group-min.png');
      background-repeat: no-repeat;background-size: contain;
    }
    .flowermenu_friends{
      background: url('./icons/001-add-friend.png');
      background-repeat: no-repeat;background-size: contain;
    }
    .flowermenu_mygroups{
      background: url('./icons/mygroups.png');
      background-repeat: no-repeat;background-size: contain;
    }
    .flowermenu_alerts{
      background: url('./icons/notification-min.png');
      background-repeat: no-repeat;background-size: contain;
    }
    .flowermenu_mail{
      background: url('./icons/mail-min.png');
      background-repeat: no-repeat;background-size: contain;
    }
    .flowermenu_giftbox{
      background: url('./icons/029-gift-box-min.png');
      background-repeat: no-repeat;background-size: contain;
    }
  }
.modalcontainer{
  width:100%;
  height:100%;
  z-index: 10;
  display: grid;
  grid-template-rows: 1fr 9fr;
  background-color: #0f0b1bb0;

}
.modalhead{
  background-color: #0f0b1bb0;
  grid-row: 1/2;
}
.modalcontent{
  margin:2%;
  grid-row: 2/3;
  background: rgb(245,232,39);
  background: linear-gradient(45deg, rgba(245,232,39,0.6558998599439776) 0%, rgba(58,58,133,0.6026785714285714) 100%);
  border-radius: 2%;
}
#modalcontent{
  background: #22292C;
}
.modalheadcontainer{
  display: grid;
  grid-template-columns: 9fr 1fr;
}
.modalheadtext{
  grid-column: 1/2;
  color: white;
  margin: auto;
  font-weight: 800;
}
.modalclosebutton{
  grid-column: 2/3;
  margin-left: auto;
  margin-right: 0;
}
@media screen and (max-width: 700px){
  .modalheadcontainer{
    grid-template-columns: 8fr 1fr;
  }
  .modalclosebutton img{
    width: 7vh;
  }
}
.achievementModalgrid{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 68vh;
}
.achiementTasks{
  padding: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr;
  height:10vh;
  margin: 0.5vw;
  border-radius: 1vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.700717787114846) 50%, rgba(255,255,255,1) 100%);
  filter: drop-shadow(0.35rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5));
}
.stars{
  width:15vw;height:8vh;
  max-height:10vh;
  background:url(./education/backgroundRibbon.png) no-repeat;
  background-size: contain;
  position:relative;
}
.star{
  position:absolute;
  width:7vh; height:7vh;
  max-height:7vh;
  filter: drop-shadow(0.35rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5));
}
#star1{
  top:2vh; left:2vh;
}
#star2{
  top:1vh; left:10vh;
}
#star3{
  top:2vh; left:18vh;
}
.tasks{
  padding:1vh 0;
  height:8vh;
}
.tasksheading{
  padding:1vh;
  font-weight: 800;
  filter: drop-shadow(0.35rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5));
  font-size:2vh;
}
.tasksdescription{
  padding-left: 1vh;
}
.completionlevel{
  margin: 1vh;
  display: flex;
  flex-direction: column;
}
.completionlevelindicator{
  height:9px; width:10vw;
  border-radius: 6px;
  border:1px solid black;
  margin: 0 auto;
}
.completionlevelindicatorfill{
  background-color: rgb(4, 136, 4);
  height:9px;
}
.rewards{
  margin: 0 auto;
  padding-top:2vh;
  display: flex;
  flex-direction: row;
}
.rewardtext{
  font-size: 1vh;
  padding-top: 0.6vh;
}
.exprewards, .guildcoinsrewards{
  margin:0 1vh;
  font-size: 1.5vh;
  color:white;
  font-weight:1000;
  filter: drop-shadow(0.35rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5));
}
.exprewards img, .guildcoinsrewards img{
  width:1.5vw; height:1.5vw;
  vertical-align: middle;
}
@media screen and (max-width: 700px){
  .achiementTasks{
    grid-template-columns: 1fr 1.8fr 1fr;
  }
  .stars{
    width:23vw;
  }
  .star{
    width: 4vh;
    height: 4vh;
  }
  #star1{
    top:1vh;
    left:0;
  }
  #star2{
    top:0;
    left:4vh;
  }
  #star3{
    top:1vh;
    left:8vh;
  }
  .tasks{
    padding:0;
  }
  .tasksheading{
    padding:0;
    font-size: 1.8vh;
    width:40vw;
    text-align: center;
  }
  .tasksdescription{
    font-size: 1.6vh;
    width:40vw;
    text-align: center;
  }
  .completionlevel{
    margin: 0;
  }
  .completionlevelindicator{
    width:26vw;
  }
  .rewardtext{
    display: none;
  }
  .exprewards img, .guildcoinsrewards img {
    width: 4vw;
    height: 4vw;
}
}
.leaderboardslot{
  padding: 1vh;
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  height:10vh;
  margin: 0.5vw 0.5vw;
  border-radius: 1vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,1) 100%);
  filter: drop-shadow(0.35rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5));
}
.numberedList{
  display: flex;
  flex-direction: row;
}
.number{
  width:5vh; height:5vh;
  border-radius: 50%;
  background-color: yellow;
  text-align: center;
  font-size: 200%;
  margin-top: 4vh;
  transform: translate(0, -50%);
  line-height: 5vh;
}
.leaderprofilepic{
  padding-left:1vh;
}
.leaderprofilepic img{
  width:8vh; height:8vh;
  border-radius: 10%;
}
.milestone, .milestone img, .bonus, .bonus img, .trophyicon, .trophyicon img {
  margin: auto 0;
  width:6vh; height:6vh;
}
.trophies{
  display: flex;
  flex-direction: row;
}
.trophynumber{
  background: white;
  width: 4vw;
  height: 2.5vw;
  border-radius: 50%;
  border: 6px solid yellow;
  text-align: center;
  font-size: 120%;
  transform: translate(0, 40%);
  line-height: 2.5vw;
}
@media screen and (max-width: 700px){
  .trophynumber{
    width: 20vw;
    height: 11.5vw;
    line-height: 7vw;
  }
}
.createguildhead{
  font-size:120%;
  color:white;
  text-align: center;
}
#guildsearch{
  width: 90%;
  margin: 0 5%;
  height:4vh;
}
.createguildinternal{
  margin: 10% auto;
  width:90%;
  height:70%;
  background: linear-gradient(45deg, rgba(245,232,39,0.6558998599439776) 0%, rgba(58,58,133,0.6026785714285714) 100%);
  box-shadow: 10px 10px 5px rgba(26, 25, 25, 0.25) inset;
}
.guildsList{
  padding: 1vh;
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.8fr 0.8fr;
  height:10vh;
  margin: 0.5vw 0.5vw;
  border-radius: 1vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,1) 100%);
  filter: drop-shadow(0.35rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5));
}
.castleicon{
  height:8vh;
  background: url("../assets/icons/002-castle.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.guildname{
  line-height:8vh;
  text-align: center;
  font-size: 1.2vw;
}
.members, .mighte{
  line-height: 3vh;
  text-align: center;
  font-size: 1.2vw;
  padding-top: 1vh;
}
.membersprop, .mightprop{
  font-size: 0.8vw;
}
@media screen and (max-width: 700px){
  .guildname, .members, .mighte{
    font-size: 3.5vw;
  }
  .membersprop, .mightprop{
    font-size: 2.8vw;
  }
  .publicprivate{
    font-size: 3.5vw;
  }
}
.publicprivate{
  line-height: 8vh;
}
.FriendsList{
  padding: 1vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1.5fr;
  height:10vh;
  margin: 0.5vw 0.5vw;
  border-radius: 1vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,1) 100%);
  filter: drop-shadow(0.35rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5));
}
.FriendsList> *{
  max-height: 8vh;
}
@media screen and (max-width: 700px){
  .FriendsList > .leaderprofilepic img{
    padding-left: 0;
  }
}
.personname{
  margin: auto;
  text-align: center;
}
.AlertList{
  padding: 1vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
  height:5vh;
  margin: 0.1vw 0.5vw;
  border-radius: 1vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.8) 100%);
  filter: drop-shadow(0.35rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5));
}
.alert{
  font-size: 1.5vh;
  line-height: 3vh;
  padding-left: 2vh;
}
.alerttime{
  font-size: 1vh;
  line-height: 3vh;
}
.MailList{
  padding: 1vh;
  display: grid;
  grid-template-columns: 0.6fr 2fr 1fr;
  height:10vh;
  margin: 0.5vw 0.5vw;
  border-radius: 1vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,1) 100%);
  filter: drop-shadow(0.35rem 0.1rem 0.4rem rgba(0, 0, 0, 0.5));
}
.subjectLine{
  font-size: 1.5vh;
  line-height: 8vh;
  padding-left: 2vh;
}
.mailtime{
  font-size: 1vh;
  line-height: 8vh;
}
@media screen and (max-width: 700px){
  .subjectLine{
    margin: auto;
    line-height: initial;
  }
}
/* --------------------------------------------Plans -------------------------------------------------*/
.container1 {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  grid-column: 1/span 2;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.grid-1-5 {
  border: 2px solid #5d4e65;
  padding: 1.25em;
  position: relative;
  text-align: center;
  transition: all .2s ease-in-out;
}
.no-border{
  border:none;
  pointer-events: none;
  text-align: right;
}




.grid-1-5:hover {
  background-color: #53455b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF53455B', endColorstr='#FF201D22');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzNDU1YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwMWQyMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53455b), color-stop(100%, #201d22));
  background-image: -moz-linear-gradient(top, #53455b 0%, #201d22 100%);
  background-image: -webkit-linear-gradient(top, #53455b 0%, #201d22 100%);
  background-image: linear-gradient(to bottom, #53455b 0%, #201d22 100%);
  border-top: 2px solid #ec7a37;
  border-bottom: 2px solid #ff4f69;
  box-shadow: 0px 0px 10px 0px #323232;
  transform: scale(1.025);
  z-index: 2;
}
.grid-1-5:hover:before, .grid-1-5:hover:after {
  content: "";
  position: absolute;
  background-color: #f67d35;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF67D35', endColorstr='#FFFF4F68');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2N2QzNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNGY2OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f67d35), color-stop(100%, #ff4f68));
  background-image: -moz-linear-gradient(top, #f67d35 0%, #ff4f68 100%);
  background-image: -webkit-linear-gradient(top, #f67d35 0%, #ff4f68 100%);
  background-image: linear-gradient(to bottom, #f67d35 0%, #ff4f68 100%);
  top: -2px;
  bottom: -2px;
  width: 2px;
}
.grid-1-5:hover:before {
  left: -2px;
}
.grid-1-5:hover:after {
  right: -2px;
}
h2, h3, p, ul {
  margin: 0;
}

h2 {
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 0.5em;
}

h3 {
  font-size: 1.5em;
  letter-spacing: 0.0625em;
  margin: 0 0 0.3333333333333333em;
}

p {
  font-size: 0.875em;
}

p, ul {
  margin: 0 0 1.5em;
}

ul {
  color: #796583;
  font-size: 0.75em;
  list-style-type: none;
  padding: 0;
}
ul li {
  margin: 0 0 0.8333333333333333em;
}

.uppercase, .button, h2 {
  text-transform: uppercase;
}

sup, .small {
  font-size: 0.6125em;
}

/*--new plan table--*/
.fontblack{
  color:#0a0a0a
}
.tablecontainersmallscreen{
  display: none;
}
.table-container, .table-container-smallscreen{
  padding-right:10vw;
  grid-column: 1/span 2;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
  color:black;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 60px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}
@media screen and (max-width: 700px){
  .bubbly-button {
    padding: 1em 1em;
  }
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -105%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -105%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 1s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 1s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.upgradeVIPimage{
  width:100%;
}

/* ----------------------------------------End of Plans -------------------------------------------------*/

.mainContent{
  width:92vw;
  padding:2vw;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap:1vw;
}
.Main_achievement, .Main_leadersboard, .Main_mygroups, .Main_searchgroup, .Main_friend, .Main_alerts, .Main_mail, .Main_gifts{
  width: 19vw;
  height: 6vw;
  border-radius: 1vw;
  text-align: center;
  line-height: 6vw;
  color: #000;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  background-color: #F4F200;
  background-image: #F4F200;
  background-image: -moz-linear-gradient(top, #fff 0%, #F4F200 100%); 
  background-image: -webkit-linear-gradient(top, #fff 0%,#F4F200 100%); 
  background-image: linear-gradient(to bottom, #fff 0%,#F4F200 100%); 
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
  border: solid 1px rgb(122, 121, 121);
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  font-size: calc( 12px + 0.6vw );
}
.Main_achievement:hover, .Main_leadersboard:hover, .Main_mygroups:hover, .Main_searchgroup:hover, .Main_friend:hover, .Main_alerts:hover, .Main_mail:hover, .Main_gifts:hover{
  background-position: -200%;
  transition: background 500ms ease-in-out;
}
.Main_achievement{
  grid-row:1/4;
  grid-column: 1/4;
}
.Main_leadersboard{
  grid-row:1/4;
  grid-column: 4/7;
}
.Main_mygroups{
  grid-row:1/4;
  grid-column: 7/10;
}
.Main_searchgroup{
  grid-row:1/4;
  grid-column: 10/13;
}
.Main_alerts{
  grid-row:4/7;
  grid-column: 1/4;
}
.Main_mail{
  grid-row:4/7;
  grid-column: 4/7;
}
.Main_gifts{
  grid-row:4/7;
  grid-column: 7/10;
}
.Main_friend{
  grid-row:4/7;
  grid-column: 10/13;
}
.Main_achievement img, .Main_leadersboard img, .Main_mygroups img, .Main_searchgroup img, .Main_alerts img, .Main_mail img, .Main_gifts img{
  vertical-align: middle;
  width: 2vw;
  height: 2vw;
}
@media screen and (max-width: 700px){
  .mainContent{
    width:100vw;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
  }
  .Main_achievement, .Main_leadersboard, .Main_mygroups, .Main_searchgroup, .Main_alerts, .Main_mail, .Main_gifts, .Main_friend{
    width: 30vw;
    height: 15vw;
    line-height: 15vw;
    font-size: 12px;
  }
  .Main_achievement{
    grid-row:1/2;
    grid-column: 1/2;
  }
  .Main_leadersboard{
    grid-row:1/2;
    grid-column: 2/3;
  }
  .Main_mygroups{
    grid-row:1/2;
    grid-column: 3/4;
  }
  .Main_searchgroup{
    grid-row:2/3;
    grid-column: 1/2;
  }
  .Main_alerts{
    grid-row:2/3;
    grid-column: 2/3;
  }
  .Main_mail{
    grid-row:2/3;
    grid-column: 3/4;
  }
  .Main_gifts{
    grid-row:3/4;
    grid-column: 1/2;
  }
  .Main_friend{
    grid-row:3/4;
    grid-column: 2/3;
  }
  .Main_achievement img, .Main_leadersboard img, .Main_mygroups img, .Main_searchgroup img, .Main_alerts img, .Main_mail img, .Main_gifts img{
    height:6vw;
    width:6vw;
    margin:0 auto;
  }

}
.videoTabs{
  width: 32vw;
    height: 11vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.videoTab1, .videoTab2{
  margin:1vw;
  width:15vw; height:5vw;
  background-color: #689cd2;
  padding: 15px;
  box-shadow: 0px 1px 0 #4188d2, 
    1px 2px 0 #4188d2,
    2px 3px 0 #4188d2,
    3px 4px 0 #4188d2,
    4px 5px 0 #4188d2, 
    1px 0 0 #0d58a6,
  2px 1px 0 #0d58a6,
  3px 2px 0 #0d58a6,
  4px 3px 0 #0d58a6,
  5px 4px 0 #0d58a6;
  position:relative;
  font-size: calc( 12px + 0.6vw );
}
@media screen and (max-width: 900px){
  .videoTab1, .videoTab2{
    height:9vw;
    font-size: calc( 12px + 0.5vw );
  }
}
.videoTab1:hover, .videoTab2:hover{
  background-color: #608FBF;
  top: 2px;
  left:2px;
  box-shadow: 0px 1px 0 #4188d2, 
    1px 2px 0 #4188d2,
    2px 3px 0 #4188d2,
    1px 0 0 #0d58a6,
  2px 1px 0 #0d58a6,
  3px 2px 0 #0d58a6;
  position:relative;
}
@media screen and (max-width: 700px){
  .videoTabs{
    width: 66vw;
    height: 19vw;
  }
  .videoTab1, .videoTab2{
    margin:1vw;
    width:32vw; height:19vw;
  }
}