@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');
*{
font-family: 'Roboto', Arial, sans-serif;
}
.educationhomeheader{
box-sizing: border-box;
width:100%;
padding:2% 5% 0% 5%;
display: grid;
grid-template-columns: 50% 39%;
background: rgb(51, 53, 69);
}
.not-active{display: none;}
.profilemenu{
  
}
@media screen and (max-width: 700px){
  /*
    .elogo{
    height:6vw;
    width:15vw;
    position: relative;
    overflow: hidden;
    }
  }
  .elogo{
  grid-column: 1/1;
  width:100%;
  max-width: 18vw;
  }
  */
  .wrapper{
  grid-column: 2/2;
  width: 100%;
  max-width: 50vw;
  }
  .profilecontainer{
    grid-column: 3/3; 
    display: grid;
    grid-template-columns: 40% 20% 80%;
  }
  .vip{
    grid-column: 1/1;
  }
    /* ------animation styles fadein LOGO image---- */
  @keyframes fadeIn {
    0% { opacity: 0; }
    20% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 1; }
  }

  .fadeInClass {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  /* ------End of animation styles fadein LOGO image---- */
  .vip{
    max-width: 6vw;
  }
  .carticon{
    color:white;
    font-size:500%;
  }
  .profilepic{
    max-width: 15vw;
  } 
}
@media screen and (min-width: 700px){
  .wrapper{
    grid-column: 1/1;
    width: 100%;
    max-width: 50vw;
  }
  .profilecontainer{
    grid-column: 2/2;
    padding-left: 5%;
  }
  .profilegrid{
    display: grid;
    grid-gap: 10%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .fadeInClass{
    display: none;
  }
  .vip{
    max-width: 4vw;
  }
  .carticon{
    color:rgba(255, 255, 255, 0.6);
    font-size:500%;
  }
  #carticonactive{
    text-shadow:5px 5px 50px white;
    color:rgba(255, 255, 255, 1);
  }
  .profilepic{
    max-width: 5vw;
  }
}
.profilepic{
  grid-column: 2/2;
  border-radius: 50%;
}
.searchicon{
  width:24px;
  height:24px
} 
.label{
font-size: .625rem;
font-weight: 400;
text-transform: uppercase;
letter-spacing: +1.3px;
margin-bottom: 1rem;
}
  
.searchBar {
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
}
  
#searchQueryInput {
width: 100%;
height: 2.8rem;
background: #f5f5f5;
outline: none;
border: none;
border-radius: 0.625rem;
padding: 0 3.5rem 0 1.5rem;
font-size: 1rem;
}
  
#searchQuerySubmit {
width: 3.5rem;
height: 2.8rem;
margin-left: -3.5rem;
background: none;
border: none;
outline: none;
}
#searchQuerySubmit:hover {
cursor: pointer;
}
/*Beginning of pulse animation*/
.pulse-button {
  color: white;
  border: none;
  border-radius: 50%;
  background: #080808;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(23, 24, 24, 0.5);
  -webkit-animation: pulse 1.5s infinite; /* Safari & Chrome */
-moz-animation: pulse 1.5s infinite; /* Firefox */
-ms-animation: pulse 1.5s infinite; /* Internet Explorer */
-o-animation: pulse 1.5s infinite; /* Opera */
animation: pulse 1.5s infinite; /* W3C */
}
.pulse-button:hover {
  -webkit-animation: none;
  -moz-animation: none; /* Firefox */
-ms-animation: none; /* Internet Explorer */
-o-animation:  none; /* Opera */
animation: none; /* W3C */
}
@keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

/*Ending of pulse animation*/
.educationsubheader{
box-sizing: border-box;
width: 100%;
height: 60px;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: start;
background: /*rgb(123, 132, 192)*/ rgb(34, 37, 57);
}

/*Beginning of Shop Button animations*/
.shoptext{
  position: relative;
  height:100%;
  overflow: hidden;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.pointer {cursor: pointer;}
.blobtext{
  position: absolute;
  left:40vw;
  font-family: Roboto;
  z-index: 2;
  line-height: 60px;
  font-size: 300%;
  color:white;
  text-align: center;
  font-weight: 700;
  text-shadow: 10px 10px 20px rgb(29 40 114);
}

.svgblob{
  position:absolute;
  width:30vw;
  z-index: 1;
  top: -51px;
  left:30vw;
}


/*END of Shop Button animations*/


/*Beginning of Education Caraousel */
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
@media screen and (max-width: 900px){
  .educationcarousel {
    width:100vw;
  }
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    counter-increment: item;
  }
  .caraouselimage{
    width:100vw;
  }
}
@media screen and (min-width: 900px){
  .educationcarousel {
    width:100%;
  }
  .carousel__slide {
    position: relative;
    flex: 0 0 50%;
    width: 100%;
    counter-increment: item;
  }
  .caraouselimage{
    width:50vw;
  }
}
  
  .carousel * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  .carousel *::-webkit-scrollbar {
    width: 0;
  }
  
  .carousel *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .carousel *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  .carousel * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
 .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  } 


  /*---------- Profile Menu ------*/
  .profile-menu{
    width: 30vw;
    background-color: white;
    position: absolute;
    top: 17vh;
    left: 65vw;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.profile-menu-items{
    padding: 1vh 5vh;
    width:100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.profile-menu-items:last-child {
    border-bottom: none;
    padding: 1vh 5vh 0 5vh;
  }
.profile-menu-items a{
    text-decoration: none;
}
.nav-text{
    color:black;
    font-size: 20px;
    align-items: center;
    transform: translate(0%, 17%);
}
  /*---------- upgrade VIP css ------*/
  @import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
  .completebackground{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width:100vw;
  }
  .backgroundVIP{
    background-image: url("./6e400.jpg");
    position: fixed;
    top:0;
  }
  .close{
    height:10vh;
    width:10vh;
    float: right;
    margin-right: 2vh;
    background: url("./icons/001-close.png");
  }
  .gamefont{
    font-family: 'Stalinist One', cursive;
  }
  .upgradeVIP-heading{
    font-size: 200%;
    padding: 10vh;
    text-align: center;
    color:rgb(197, 211, 121);
  }
  /*---------- upgrade VIP css ------*/


  /*-------------------Modal Flower menu items --------------------*/
.ReactModal__Overlay{
  z-index: 10;
}
.ReactModal__Content{
  top:10vh;
  right:30vw;
  bottom:10vh;
  left:30vw;
}
.modalcontainer{
  width:100%;
  height:100%;
  z-index: 10;
  display: grid;
  grid-template-rows: 10% 90%;
  background-color: #0f0b1bb0;
}
.modalhead{
  background-color: #0f0b1bb0;
  grid-row: 1/1;
}
.modalcontent{
  margin:2%;
  grid-row: 2/2;
  background-color: white;
  border-radius: 2%;
}
.modalheadcontainer{
  display: grid;
  grid-template-columns: 90% 10%;
}
.modalheadtext{
  grid-column: 1/1;
  color: white;
  margin: auto;
  font-weight: 800;
}
.modalclosebutton{
  grid-column: 2/2;
  margin-left: auto;
  margin-right: 0;
}
